footer {
    background-color: lightcoral;
    height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}